@charset "UTF-8";
/*  Student Name: Daniel Perusse
    Student ID: 200551990
    Student email: daniel.perusse@mygeorgian.ca
    Date:March 15, 2024
    COMP1054 - Assignment 2 
*/

/*set html font family, base text size, line height*/
html {
    font-size: 1.2em;
    line-height: 1.4;
    /* entire newspaper is in sans-serif, save the second article */
    font-family: sans-serif;
}

/* add some padding like in the actual article */
body {
    padding: 20px 40px;
}

/* set the title size, remove other stylings and tighten the spacing */
h1 {
    font-size: 4.8rem;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: -4px;
    margin: 0;
    /* move the title a bit to the left to better line up with the text */
    position: relative;
    right: 5px
}
/* make the theater listings in the caroling section a little smaller */
h3 {
    font-size: 1rem;
}
/* capitalize the south central ontario text and give it some weight */
header p {
    text-transform: uppercase;
    font-weight: 500;
}

/* set the "home" in the title to red */
h1 em {
    font-style: inherit;
    color:crimson;
}

/* flip the first dog image and resize it smaller */
img:first-child {
    width: 200px;
    transform: scaleX(-1);
}

/* set dog day afternoon article title to red, make it bigger, remove some weight */
article:first-child > h2 {
    font-size: 1.8rem;
    color:crimson;
    font-weight: 600;
    margin: 0;
}

/* remove the margin between article text and title */
p {
    margin:  0;
}

/* put some space between the image and the first article text and resize it */
article + img {
    margin-top: 60px;
    width: 450px
}

/* make second article title much larger, skinier and remove the capitals*/
img + article > h2 {
    font-size: 3.4rem;
    text-transform: lowercase;
    font-weight: 350;
    margin: 0;
}

/* give back the capital on the first word of the second article title */
img + article > h2::first-letter {
    text-transform: uppercase;
}

/* second article text is in times new roman */
img + article > p {
    font-family: 'Times New Roman', Times, serif;
}

/* make the breast cancer article a bit bigger */
article + aside > p {
    font-size: 1.2rem;
}

/* set the background for the carolling section and add some padding */
aside + aside {
    background-color: rgb(235, 235, 235);
    padding: 25px;
}

/* change list element bullet to +, reduce the padding a bit */
ul {
    list-style-type: "+ ";
    padding-left: 20px;
}

/* set the carolling section in red text, reduce text size a bit */
aside > h2 {
    color: crimson;
    font-size: 1.2rem;
}

/* set footer text to lowercase, make it tiny */
footer {
    text-transform: lowercase;
    font-size: .9rem;
}

/* abbreviation is in full capitals, and make it bold */
footer abbr {
    font-weight: 1000;
    font-size: .5rem;
    text-transform: uppercase;
}

/* em is for the page number, give it some weight and remove the styling */
footer em {
    font-style: normal;
    font-weight: 750;
    font-size: .8rem;
}

/* All links are in bold and sans-serif */
a {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:.9em;
}