@charset "UTF-8";
/*  Student Name: Daniel Perusse
    Student ID: 200551990
    Student email: daniel.perusse@mygeorgian.ca
    Date:March 15, 2024
    COMP1054 - Assignment 2 
*/

/*set html font family, base text size, line height*/
html {
    /* TODO: REMEMBER TO CHANGE THIS FONT SIZE AND IMG SIZES TO MAKE ARTICLE MORE LEGIBLE */
    font-size: 1.2em;
    line-height: 1.4;
    /* entire newspaper is in sans-serif, save the second article */
    font-family: sans-serif;
}

/* add some padding like in the actual article */
body {
    padding: 20px 40px;
    width: 75%;
    margin: 0 auto 0 auto;
}

/* set the title size, remove other stylings and tighten the spacing */
h1 {
    font-size: 4.8rem;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 800;
    letter-spacing: -4px;
    margin: 0;
    /* move the title a bit to the left and up to better line up with the text */
    position: relative;
    right: 5px;
    bottom: 30px;
    /* set article title grid-area for header grid */
    grid-area: title;
}
/* make the theater listings in the caroling section a little smaller */
h3 {
    font-size: 1rem;
}

/* set header as a grid area to move south central ontario above title and position other elements */
header {
    display: grid;
    grid-template-areas: 
            "place place place"
            "title title dog";
}

/* capitalize the south central ontario text and give it some weight */
header p {
    text-transform: uppercase;
    font-weight: 500;
    /* added grid-area name for header grid */
    grid-area: place;
}

/* set the "home" in the title to red */
h1 em {
    font-style: inherit;
    color:crimson;
}

/* flip the first dog image and resize it smaller */
header > img {
    width: 200px;
    transform: scaleX(-1);
    /* added grid-area name for header grid */
    grid-area: dog;
}

main {
    display: grid;
    grid-template-areas: 
            "Tubbs Afternoon Afternoon"
            "Tubbs Afternoon Afternoon"
            "Carol Tuber Tuber"
            "Carol Tuber Tuber"
            "Carol Slopes Slopes"
            "Carol Slopes Slopes";
}

article {
    padding-left: 50px;
}

article:first-child {
    grid-area: Afternoon;
}

/* set dog day afternoon article title to red, make it bigger, remove some weight */
article:first-child > h2 {
    font-size: 1.8rem;
    color:crimson;
    font-weight: 600;
    margin: 0;
}

/* set text-align to justify for the first article */
article:first-child > p {
    text-align: justify;
}

/* remove the margin between article text and title */
p {
    margin:  0;
}

/* put some space between the image and the first article text and resize it */
article + img {
    margin-top: 60px;
    width: 450px;
    grid-area: Tuber;
    padding-left: 50px;
}

img + article {
    grid-area: Slopes;
}

/* make second article title much larger, skinnier and remove the capitals*/
img + article > h2 {
    font-size: 3.4rem;
    text-transform: lowercase;
    font-weight: 350;
    margin: 0;
}

/* give back the capital on the first word of the second article title */
img + article > h2::first-letter {
    text-transform: uppercase;
}

/* second article text is in times new roman and set align to justify */
img + article > p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    hyphens: auto;
}

article + aside {
    grid-area: Tubbs;
    padding: 0 30px 0 35px;
    outline: auto;
}

/* make the breast cancer article a bit bigger */
article + aside > p {
    font-size: 1.2rem;
}

/* set the background for the carolling section and add some padding */
aside + aside {
    background-color: rgb(235, 235, 235);
    padding: 25px;
    grid-area: Carol;
}

/* change list element bullet to +, reduce the padding a bit */
ul {
    list-style-type: "+ ";
    padding-left: 20px;
}

/* set the carolling section in red text, reduce text size a bit */
aside > h2 {
    color: crimson;
    font-size: 1.2rem;
}

/* set footer text to lowercase, make it tiny */
footer {
    text-transform: lowercase;
    font-size: .9rem;
}

/* abbreviation is in full capitals, and make it bold */
footer abbr {
    font-weight: 1000;
    font-size: .5rem;
    text-transform: uppercase;
}

/* em is for the page number, give it some weight and remove the styling */
footer em {
    font-style: normal;
    font-weight: 750;
    font-size: .8rem;
}

/* All links are in bold and sans-serif */
a {
    font-weight: 700;
    font-family: sans-serif;
    font-size:.9em;
}